@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
	color: #f1f2ff;
}
.bg-home {
	background: url(./assets/Images/bghome.svg);
	background-position: center;
}
