@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
    color: #F1F2FF;
}
.bg-home{
    background: url(./assets/Images/bghome.svg);
    background-size: cover;
    background-position: center;

}